<div class="contenedor">
  <div *ngIf="error" class="alert alert-danger" role="alert">
    <strong [(ngModel)]="pin">Por favor Ingrese PIN</strong>
  </div>
  <input type="text" class="form-control input-ingresar mb-2" placeholder="PIN del juego">
  <button (click)="ingresar()" class="btn-ingresar btn-principal">Ingresar</button>
</div>

<div class="fixed-bottom">
  <p class="text-center text">
    Crea tu propio cuestionario gratis
    <a routerLink="/usuario" href="#" class="link">aqui</a>
  </p>
</div>
