<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center titulo">Registrar Usuario</h2>
          <form [formGroup]="registrarForm" (ngSubmit)="registrar()">

            <div class="mb-3">
              <input type="text" formControlName="usuario" class="form-control form-control-lg" placeholder="Correo">
              <span class="text-danger"
              *ngIf="registrarForm.get('usuario')?.hasError('required') && registrarForm.get('usuario')?.touched">
                El correo <strong>es requerido</strong>
              </span>
              <span class="text-danger" *ngIf="registrarForm.get('usuario')?.hasError('email') && registrarForm.get('usuario')?.touched">
                El correo <strong>es inválido</strong>
              </span>
            </div>

            <div class="mb-3">
              <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Contraseña">
              <span class="text-danger"
              *ngIf="registrarForm.get('password')?.hasError('required') && registrarForm.get('password')?.touched">
                La contraseña <strong>es requerida</strong>
              </span>
              <span class="text-danger"
              *ngIf="registrarForm.get('password')?.hasError('minlength') && registrarForm.get('password')?.touched">
                La contraseña como mínimo <strong>debe tener 6 caracteres</strong>
              </span>
            </div>

            <div class="mb-3">
              <input type="password" formControlName="repetirPassword" class="form-control form-control-lg" placeholder="Repetir Contraseña">
              <span class="text-danger" *ngIf="registrarForm.hasError('notSame')">
                Contraseñas <strong>distintas</strong>
              </span>

            </div>
            <button class="btn btn-secondary btn-lg" routerLink="/usuario">Volver</button>
            <button type="submit" class="btn btn-primary btn-lg float-right" [disabled]="registrarForm.invalid">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
