<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center titulo">Recuperar Contraseña</h3>
          <form [formGroup]="recuperarForm" (ngSubmit)="recuperarPassword()">
            <div class="mb-3">
              <input type="text" formControlName="usuario" class="form-control form-control-lg" placeholder="Ingrese su correo...">
              <span class="text-danger"
              *ngIf="recuperarForm.get('usuario')?.hasError('required') && recuperarForm.get('usuario')?.touched">
                El correo <strong>es requerido</strong>
              </span>
              <span class="text-danger" *ngIf="recuperarForm.get('usuario')?.hasError('email') && recuperarForm.get('usuario')?.touched">
                El correo <strong>es inválido</strong>
              </span>
            </div>
          </form>
          <button class="btn btn-secondary btn-lg" routerLink="/usuario">Volver</button>
          <button type="submit" class="btn btn-primary btn-lg float-right" [disabled]="recuperarForm.invalid">Recuperar</button>
        </div>
      </div>
    </div>
  </div>
</div>
