<div class="d-flex justify-content-center mt-3">
  <button routerLink="/dashboard/crearQuizz" class="btn-principal btn-quizz">NUEVO</button>
</div>
<div class="container">
  <div class="row mt-3">
      <div class="col-lg-8 offset-lg-2">
          <div class="card">
              <div class="card-body text-center">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Titulo</th>
                              <th>Cant. Preguntas</th>
                              <th>Codigo</th>
                              <th>Acciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Mundial de Futbol</td>
                              <td>10</td>
                              <td><span class="badge bg-black">MNG8G</span></td>
                              <td>
                                  <i class="fas fa-search"></i>
                                  <i class="fas fa-chart-line"></i>
                                  <i class="fas fa-trash"></i>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
